.form-wrapper-pop {
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  padding: size(89) 7% 10px 7%;
}
.close-form {
  position: absolute;
  left: size(19);
  top: size(19);
  cursor: pointer;
  img {
	width: size(28);
  }
}
.form-title {
  @include base-title;
  color: $blue-main;
  margin-bottom: 5px;
}
.form-subtitle {
  @include mid-title;
  color: #000000;
  margin-bottom: 10px;
}
.foo-form-title {
  @include giant-title;
  font-weight: 500;
  font-family: $rubik;
  color: $blue-main;
  margin-bottom: 5px;
}
.post-form-title {
  @include mid-title;
  color: $blue-main;
  font-weight: 500;
}
.post-form-subtitle {
  @include mid-title-24;
  color: #000000;
  font-weight: 400;
  margin-bottom: 16px;
}
.post-form-box {
  margin-bottom: 94px;
}
.post-form {
  padding: 33px 20% 10px 20%;
}
.box-wrapper-contact{
  padding: 44px 30px 33px 30px;
}
.form-contact-wrap {
  border-radius: 5px;
  background-color: $blue-light;
  padding: 38px 44px 0 44px;
  height: 100%;
}

//Forms
.wpcf7-form, .step-body-block {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select, .step-email-input {
  @include input-text;
  @include input-style;
  margin-bottom: 19px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"], .step-email-input {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding: 8px size(16);
  background-position: 8px center;
  background-size: size(17);
  line-height: normal;
}
div.wpcf7 input[type="submit"] {
  @include mid-title;
  font-family: $almoni;
  text-align: center;
  background-color: $blue-main;
  color: #ffffff;
  padding: 3px size(24) 3px size(44);
  background-image: url("../iconsall/form-submit.png");
  background-position: 2% center;
  background-size: 1rem;
}

//Property search
.property-search-section {
  label {
	@include base-text;
  }
  .form-check-label, .search-title-group {
	font-size: size(25);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(40);
  }
}
.form-check-input {
  margin-left: 11px;
  width: 29px;
  min-width: 29px;
  height: 29px;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
.search-title-group {
  margin-bottom: 40px;
}
.form-check-inline {
  margin-right: 0;
  display: flex;
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 38px;
}
.post-form {
  padding: 33px 10% 10px 10%;
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="text"] {
	border: 1px solid #000000;
	margin-bottom: 15px;
	@include mid-title-24;
	font-weight: 500;
  }
  div.wpcf7 input[type="text"] {
	background-image: url("../iconsall/form-name-black.png");
	background-size: size(22);
  }
  div.wpcf7 input[type="tel"] {
	background-image: url("../iconsall/form-tel-black.png");
	background-size: size(13);
  }
  div.wpcf7 input[type="submit"] {
	@include mid-title-24;
	font-weight: 500;
	border: 1px solid #000000;
	margin-bottom: 0;
	background-color: $blue-light;
	background-image: none;
	padding: 3px 10px;
	font-family: $heebo;
  }
  .wpcf7-form {
	::placeholder {
	 @include mid-title-24;
	  font-weight: 500;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include mid-title-24;
	  font-weight: 500;
	}
  }
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-radius: 0 5px 5px 0;
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
  border-radius: 5px 0 0 5px;
}
