header {
  background-color: #ffffff;
  padding: 13px 0;
  .logo img {
	max-height: size(66);
  }
}
.main_menu {
  ul{
	display: flex;
	flex-direction: column;
	height: 100%;
	li{
	  margin: 15px 0;
	  a{
		@include mid-title-24;
		font-weight: 700;
		color: $blue-main;
	  }
	}
  }
  ul.sub-menu {
	display: none;
	height: auto !important;
	box-shadow: inset 0 0 9px rgba(32, 20, 10, 0.14);
	background-color: #fbfbfb;
	margin: 0 -30px;
	padding: 30px 60px;
	li {
	  a {
		@include base-text-20;
		font-weight: 400;
	  }
	}
  }
}
.drop-menu {
  display: none;
  box-shadow: 0 14px 16px 2px rgba(0, 0, 0, 0.19);
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99999;
  height: auto;
  padding: size(60) 30px;
  min-width: 50%;
  overflow-y: auto;
}
.plus-icon {
  @include d-center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}
.add-prop-text {
  @include mid-title-24;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
.plus-icon {
  @include d-center;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: normal;
  margin-left: size(18);
}
.light-plus {
  background-color: $blue-main;
  color: #ffffff;
}
.add-property-big {
  color: #ffffff;
  font-size: size(72);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(100);
  text-align: center;
}
.add-property-btn {
  @include d-center;
  margin: 0 8px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #000000;
  padding: size(20) size(47);
  cursor: pointer;
  &:hover {
	background-color: $blue-light;
  }
}
.inverse-prop-btn {
  border: 1px solid #000000;
  background-color: $blue-light;
  &:hover {
	background-color: $blue-main;
	.light-plus {
	  background-color: $blue-light;
	}
  }
}
.square-wrap, .social-share-link, .trigger-item {
  @include d-center;
  margin: 0 8px;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background-color: $blue-light;
}
.trigger-item {
  padding: 10px;
  cursor: pointer;
  background-color: $blue-main;
  &:first-child {
	margin-right: 0 !important;
  }
  .fab {
	color: #ffffff;
	font-size: size(30);
  }
}
.pop-trigger {
  background-color: #000000;
}
.trigger-item-fb {
  background-color: #225a9c;
}
.trigger-item-wa {
  background-color: #00bf22;
}
.trigger-item-inst {
  background-color: #e2445c;
}
.header-socials {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: size(90);
}
.social-share-link {
  padding: 11px;
}
.reg-wrap {
  flex-direction: column;
  img {
	max-width: 24px;
  }
}
.reg-title {
  color: #ffffff;
  font-size: size(16);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  margin-top: 4px;
}
.menu-trigger {
  cursor: pointer;
  margin-right: 0 !important;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: $blue-main;
	height: 4px;
	border-radius: 2px;
  }
  .logo img {
	max-height: 37px;
  }
}
.wishlist-trigger {
  background-color: $blue-main;
}

//Header popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  padding-top: 130px;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
  div.wpcf7 input:not([type="submit"]), div.wpcf7 select {
	border: 1px solid #000000;
  }
}

//Footer
.logo {
  @include d-center;
}
footer {
  .logo img {
	width: 100%;
  }
}
.form-foo-row {
  margin-bottom: 30px;
}
.footer-main {
  position: relative;
  padding: 107px 0 70px 0;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: $blue-main;
  background-image: url("../img/foo-back.png");
}
.footer-form {
  background-color: $blue-light;
  padding: 50px 0 30px 0;
}
.foo-title {
  @include mid-title;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: size(25);
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
.foo-menu {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a, span {
	  display: flex;
	  @include foo-text;
	  margin-bottom: 10px;
	  transition: color .5s;
	  &:hover {
		color: $blue-light;
		transition: color .5s;
	  }
	}
  }
}
#go-top {
  position: absolute;
  top: 49px;
  right: 27px;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  img {
	transform: rotate(90deg);
	&:first-of-type {
	  animation: jump-top 1.6s ease-in-out alternate infinite;
	}
	&:last-of-type {
	  animation: jump 1.6s ease-in-out alternate infinite;
	  margin-top: -20px;
	}
  }
}
.to-top-wrap {
  @include d-center;
  flex-direction: column;
  width: size(55);
  height: size(55);
  border-radius: 5px;
  background-color: $blue-light;
}
.top-text {
  @include foo-text;
  text-align: center;
  margin-top: 14px;
}
//Breadcrumbs
.bread-row {
  margin-top: 25px;
}
