.faq {
  padding: 34px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 24px;
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: size(36);
  border: 2px solid $blue-main;
  background-color: #ffffff;
  padding: size(20) size(33) size(20) size(49);
  transition: background-color ease-out .5s;
  &.active-faq {
	background-color: $blue-light;
	border-color: $blue-light !important;
	.faq-body-title {
	  color: #ffffff;
	  font-size: size(25);
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(39);
	}
  }
}
.faq-body-title {
  @include base-text-20;
  font-weight: 500;
  color: #000000;
  text-align: right;
  transition: color ease-out .5s;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-arrow {
  position: absolute;
  left: size(18);
  width: size(31);
  transition: transform ease-out .5s;
  &.arrow-bottom {
	transform: rotate(180deg);
  }
}
.faq-box-wrapper {
  padding: 9px 25px 9px 40px;
  margin-bottom: 38px;
}
.answer-body {
  padding: 26px 21px 10px 45%;
}

//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(19);
	height: size(31);
	z-index: 33;
	top: unset;
	bottom: -3rem;
	transition: background-image .5s;
	&:hover {
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left-dark.png");
	left: unset;
	right: 2rem;
	&:hover {
	  background-image: url("../iconsall/arrow-left-light.png");
	}
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-dark.png");
	right: 0;
	&:hover {
	  background-image: url("../iconsall/arrow-right-light.png");
	}
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.white-arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	bottom: unset;
	top: 50%;
  }
  [dir="rtl"] .slick-next {
	left: 8px;
	right: unset;
	background-image: url("../iconsall/arrow-left-white.png");
  }
  [dir="rtl"] .slick-prev {
	right: 8px;
	background-image: url("../iconsall/arrow-right-white.png");
  }
}
.arrows-slider-sides {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	bottom: unset;
	top: 35%;
  }
  [dir="rtl"] .slick-next {
	left: -1rem;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	right: -1rem;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
	border-radius: 10px;
  }
}
.slider-col-content {
  padding-bottom: 3rem;
}
.box-wrapper-slider {
  padding: 18px 49px;
}
//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 19px 20px;
}
.post-img {
  width: 100%;
  border-radius: 10px;
  @include back-img;
  @include d-center;
  margin-bottom: 15px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 54.75%;
  }
}
.post-card-title, .acc-block-title, .own-name {
  @include mid-title;
  color: $blue-light;
}
.acc-block-title, .own-name {
  font-weight: 500;
}
.own-name {
  color: $blue-main;
  text-align: center;
  font-family: $rubik;
}
.post-card-title {
  font-weight: 700;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-main;
  }
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
}
.card-text {
  @include small-title-20;
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 80%;
}
.col-post {
  padding: 5px;
  margin-bottom: 30px;
}
.post-link {
  @include mid-title;
  font-weight: 400;
  color: $blue-main;
  margin-top: 30px;
  margin-bottom: 13px;
  transition: color .5s;
  &:hover {
	color: $blue-light;
  }
}
//Category card
.category-card {
  .post-card-title {
	color: $blue-main;
	&:hover {
	  color: $blue-light;
	}
  }
}
//Property card
.prop-slider-back {
  padding: 60px 0 86px 0;
  background-color: rgba(235, 235, 235, 0.2);
}
.slider-of-properties {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.property-col {
  margin-bottom: 10px;
}
.property-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 13px;
  &.inline-p {
	width: 100%;
	padding: 16px 18px;
	box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.19);
	padding-bottom: 39px !important;
	.param-wrap img {
	  margin-left: 5px;
	}
	.param-wrap {
	  margin-bottom: 10px;
	}
  }
}
.inline-image-wrap {
  display: flex;
  align-items: center;
}
.property-img {
  position: relative;
  width: 100%;
  background-color: $blue-main;
  @include back-img;
  border-radius: 10px;
  margin-bottom: 7px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 90%;
  }
  &.inline-p {
	margin-bottom: 0;
	width: 205px;
	min-width: 205px;
	height: 161px;
	margin-left: 15px;
	&:after {
	  padding-bottom: 0;
	}
  }
}
.heart-wrap {
  @include d-center;
  position: absolute;
  top: 11px;
  left: 5px;
  background-image: url("../iconsall/like.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: size(28);
  height: size(25);
  cursor: pointer;
  &.in-wishlist {
	background-image: url("../iconsall/like-full.png");
  }
}
.property-price {
  @include mid-title;
  color: $blue-main;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}
.property-price-old {
  @include mid-title-24;
  font-weight: 300;
  text-decoration: line-through;
}
.property-title {
  @include base-text-20;
  color: #000000;
}
.tip-text {
  @include mid-title;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: center;
}
.tip-wrap {
  position: absolute;
  top: size(21);
  right: 0;
  padding: 5px size(20);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $blue-tick;
  border-radius: 10px 0 0 10px;
}
.tip-new {
  background-color: $green-tick;
}
.tip-soldout {
  background-color: $pink-tick;
}
.tip-updated {
  background-color: $orange-tick;
}
.property-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-card-link {
  @include base-link;
  border: none;
  background-color: $blue-light;
  color: #ffffff !important;
  margin-top: 13px;
  align-self: center;
  min-width: unset;
  &:hover {
	background-color: $blue-main;
  }
}
.param-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(55);
  img {
	width: size(33);
	margin-left: 20px;
  }
}
.prop-slider {
  .param-wrap {
	padding: 0 5px;
	margin-bottom: 15px;
	img {
	  max-width: size(26);
	  margin-left: 10px;
	}
  }
  .param-title {
	font-size: size(16);
	line-height: size(20);
  }
}
//Add property
.add-property-block {
  background-color: $blue-main;
  padding: 50px 0 63px 0;
  background-image: url("../img/add-prop-back.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.border-prop {
  border-left: 3px solid $blue-light;
  border-right: 3px solid $blue-light;
  padding: 30px;
}


//Property page
.property-body-wrap {
  padding: 27px 36px 27px 6%;
}
.bb-property {
  border-radius: 2px;
  border-bottom: 5px solid $blue-light;
  padding-bottom: size(48);
  margin-bottom: 30px;
}
.prop-info-wrap {
  padding: 0 10%;
}
