/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  .col-xxl-4 {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-form {
	flex: 0 0 20%;
	max-width: 20%;
  }
  html{
	font-size: 20px;
  }
  .card-text {
	max-width: 60%;
  }
}
@media (max-width: 1800px) {
  .smaller-submit {
	div.wpcf7 input[type="submit"] {
	  @include mid-title-24;
	  background-size: 0.75rem;
	  //background-position: 5% center;
	}
  }
  .prop-slider {
	.param-wrap {
	  padding: 0 15px;
	  flex: 0 0 50%;
	  max-width: 50%;
	  img {
		max-width: size(16);
		margin-left: 8px;
	  }
	}
	.param-title {
	  font-size: size(14);
	  line-height: size(16);
	}
  }
  .inline-p {
	.param-title {
	  font-size: size(14);
	  line-height: size(16);
	}
  }
}
@media (max-width: 1400px) {
  .smaller-submit {
	div.wpcf7 input[type="submit"] {
	  @include base-text-20;
	  background-size: 0.5rem;
	}
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
	max-width: 73%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 18px;
  }
  .smaller-submit {
	div.wpcf7 input[type="submit"] {
	  @include mid-title;
	  background-size: 1rem;
	}
  }
  .footer-main {
	padding: 137px 0;
  }
  #go-top {
	top: 29px;
  }
  .answer-body {
	padding: 26px 21px 10px 15%;
  }
  .border-prop {
	border-left: 0;
	border-right: 0;
	border-top: 3px solid $blue-light;
	border-bottom: 3px solid $blue-light;
	margin: 30px 0;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 18px;
  }
  .form-contact-wrap {
	margin-top: 24px;
	height: auto;
  }
  .foo-contacts-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
	margin-top: 1rem;
  }
  .faq-arrow {
	width: size(21);
  }
  .post-card-title, .acc-block-title {
	@include base-text-20;
	font-weight: 700;
  }
  .card-text {
	@include base-text;
	max-width: 100%;
  }
  .post-link {
	@include base-text-20;
	margin-top: 20px;
  }
  .slider-img-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .sticky-form {
	position: unset;
	top: unset;
	margin-top: 2rem;
  }
  .property-body-wrap {
	padding: 27px 15px;
	.property-price-wrap {
	  margin-top: 1rem;
	}
	.property-title {
	  text-align: center;
	}
  }
  .form-check-inline {
	flex: 0 0 25%;
	max-width: 25%;
  }
  #home-number {
	width: auto;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  header {
	.container {
	  max-width: 100%;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .form-foo-row {
	justify-content: center;
	.logo {
	  margin-bottom: 1rem;
	}
	.foo-form-title, .form-subtitle {
	  text-align: center;
	}
  }
  .answer-body {
	padding: 26px 10px;
  }
  .post-card-title {
	@include mid-title;
  }
  .card-text {
	@include small-title-20;
  }
  .post-link {
	@include mid-title;
	font-weight: 400;
  }
  .add-property-block {
	background-image: none;
  }
  header {
	.logo img {
	  max-height: size(46);
	}
	.plus-icon {
	  width: 15px;
	  height: 15px;
	}
	.add-prop-text {
	  @include base-text;
	  font-weight: 700;
	}
	.plus-icon {
	  font-size: 13px;
	  margin-left: size(8);
	}
	.add-property-btn {
	  margin: 0 4px;
	  height: size(46);
	  padding: size(10);
	}
	.square-wrap {
	  margin: 0 4px;
	  width: size(45);
	  height: size(45);
	}
  }
  .reg-wrap {
	img {
	  max-width: 16px;
	}
  }
  .reg-title {
	font-size: size(13);
	line-height: size(15);
  }
  .menu-trigger {
	.hamburger {
	  width: 30px;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
	.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	  background-color: $blue-main;
	  height: 4px;
	  border-radius: 2px;
	  width: 30px;
	}
  }
  .cat-top-link {
	min-width: unset;
	font-size: 16px !important;
	line-height: 18px !important;
	.add-prop-text {
	  font-size: 16px !important;
	  line-height: 18px !important;
	}
  }
  .step-body-block {
	padding-bottom: 200px;
  }
  .second-step-body {
	.second-img-back {
	  display: none;
	}
  }
  .form-check-inline {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  #go-top {
	right: unset;
	left: 27px;
  }
  .form-title {
	@include mid-title;
  }
  .form-subtitle {
	@include mid-title-24;
  }
  .foo-form-title {
	font-size: size(32);
	line-height: size(34);
  }
  .contact-icon-wrap {
	width: size(67);
	min-width: size(67);
	height: size(67);
	margin-left: 20px;
	padding: 10px;
  }
  .contact-type {
	@include mid-title-24;
  }
  .contact-type-title {
	@include small-title-20;
  }
  .box-wrapper-contact{
	padding: 44px 10px 33px 10px;
  }
  .form-contact-wrap {
	padding: 38px 14px 0 14px;
  }
  .foo-menu {
	flex: 0 0 90%;
	max-width: 90%;
	margin-bottom: 2rem;
  }
  .foo-links-menu {
	margin-top: 0;
  }
  .faq-box-wrapper {
	padding: 9px 15px;
  }
  .question-title {
	padding: size(10) size(13) size(10) size(39);
	&.active-faq {
	  .faq-body-title {
		@include base-text-20;
		color: #ffffff;
	  }
	}
  }
  .faq-body-title {
	@include base-text;
	font-weight: 500;
  }
  .col-post {
	padding: 0 15px;
  }
  .add-property-big {
	font-size: size(55);
	line-height: size(70);
  }
  .prop-slider-back {
	padding: 60px 30px 86px 30px;
	.param-wrap {
	  flex: 0 0 33.3%;
	  max-width: 33.3%;
	}
  }
  .prop-info-wrap {
	padding: 0;
  }
  .inline-image-wrap {
	flex-direction: column;
	.property-img {
	  margin-left: 0;
	  margin-bottom: 1rem;
	  width: 100%;
	  height: 220px;
	}
	.property-title {
	  text-align: center !important;
	}
  }
  .form-check-inline {
	flex: 0 0 50%;
	max-width: 50%;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .prop-slider-back {
	padding: 60px 10px 86px 10px;
	.param-with-icons {
	  margin: 0 -5px;
	}
	.param-wrap {
	  padding: 0 5px;
	}
  }
  [dir="rtl"] .slick-next {
	left: -25px;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	right: -25px;
  }
  .box-wrapper-slider {
	padding: 18px;
  }
  .param-title {
	@include base-text-20;
	font-weight: 700;
  }
  header {
	.add-property-btn {
	  width: 2.25rem;
	  border-radius: 5px;
	  .plus-icon {
		margin-left: 0;
	  }
	  .add-prop-text {
		display: none;
	  }
	}
  }
  .wishlist-trigger {
	position: fixed;
	z-index: 999;
	left: 5px;
	bottom: 5px;
  }
  .form-check-inline {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
