.step-body-block {
  padding-top: size(71);
  .block-title {
	margin-bottom: 125px;
  }
  .block-title span {
	color: #66cccc;
	font-size: size(18);
  }
  .form-check {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
  }
}
.base-output-bigger {
  p, li {
	@include base-text-20;
  }
}
.step-footer {
  padding: 18px 0 16px 0;
  background-color: $blue-light;
}
.last-step-body {
  background-image: url("../img/foo-back.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 111px;
  .block-title {
	margin-bottom: 47px;
  }
}
.steps-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.step-go {
  @include base-link;
  height: size(46);
  @include mid-title;
  font-weight: 400;
  font-family: $almoni;
  min-width: size(250);
  border: none;
  margin: 7px;
  transition: transform ease-out .5s;
  &:hover, &:focus {
	transform: scale(0.95, 0.95);
  }
}
.step-prev {
  color: $blue-main;
  img {
	margin-left: 8px;
  }
}
.step-next {
  background-color: $blue-main;
  color: #ffffff;
  img {
	margin-right: 8px;
  }
}
.choose-option {
  position: relative;
  @include base-link;
  min-width: size(226);
  &.checked-option {
	background-color: #7da7d9;
  }
  span {
	@include mid-title-24;
	font-weight: 700;
	color: #000000;
  }
  img {
	margin-left: 10px;
  }
  input {
	position: absolute;
	opacity: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
  }
}
.third-step-body {
  padding-bottom: 100px;
  .block-title {
	margin-bottom: 18px;
  }
  .form-row {
	width: 100%;
  }
  .form-check-label {
	@include base-text-20;
	p {
	  @include base-text-20;
	  margin-bottom: 30px;
	}
  }
  .base-output {
	margin-bottom: 40px;
  }
}
.form-check {
  margin-bottom: 75px;
}
.form-check-sm-m {
  margin-bottom: 45px;
}
.form-check-box {
  width: 29px;
  min-width: 29px;
  height: 29px;
  border-radius: 4px;
  margin-left: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
.step-email-input {
  border: 1px solid #000000;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
}
.email-label {
  width: 100%;
}
.info-title {
  font-size: size(25);
  line-height: normal;
  margin-bottom: 17px;
  font-weight: 400;
  color: #000000;
  &.bolder-middle {
	font-weight: 500;
  }
}
.downloaded-image {
  margin-bottom: 22px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  width: 100%;
  background-image: url("../iconsall/plus.png");
  background-position: center;
  background-size: size(75);
  background-repeat: no-repeat;
  &:after {
	display: block;
	content: '';
	padding-bottom: 95%;
  }
}
@mixin input-text-form {
  color: #000000;
  font-size: size(24);
  line-height: size(39);
  font-weight: 400;
}
.form-steps {
  label {
	@include base-text;
	color: #000000;
  }
  input, select, textarea {
	height: size(56);
	border-radius: 5px;
	border: 1px solid #000000;
	background-color: #ffffff;
	margin-bottom: 19px;
	padding: 10px;
	&[type="date"] {
	  width: auto;
	}
  }
  textarea {
	height: 246px;
	width: 100%;
  }
  select {
	-webkit-appearance: none;
	padding-left: 40px;
	background-image: url("../iconsall/form-select-black.png");
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 10px center;
	@include input-text-form;
	line-height: 1;
	color: #999999;
  }
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text-form;
	color: #999999;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text-form;
	color: #999999;
  }
}
.col-in-form {
  display: flex;
  flex-direction: column;
}
.check-last {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  input {
	margin: 0 0 0 5px;
  }
  label {
	@include mid-title-24;
  }
}
.second-step-body {
  .block-title {
	margin-bottom: 56px;
  }
}
.form-row-properties {
  .form-check-inline {
	align-items: center;
	label {
	  @include mid-title-24;
	}
	input {
	  margin-bottom: 0;
	  margin-left: 13px;
	}
  }
}
.base-text.remark {
  margin-top: 13px;
  color: #999999;
}
.steps-first-form {
  .form-row {
	margin-bottom: 30px;
  }
  .form-check {
	margin-bottom: 30px;
  }
}
.first-step-block {
  background-image: url("../img/foo-back.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 170px;
}
#home-number {
  width: 162px;
}
.check-area {
  padding: 0 2px;
}
.big-label, label.big-label {
  font-size: size(25);
  line-height: size(39);
  color: #000000;
  font-weight: 500;
  margin-bottom: 14px;
}
