@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "header-footer";
@import "partials";
@import "forms";

body{
  font-family: $heebo;
  text-align: right;
  color: #000000;
}
.block-title {
  @include mid-title;
  font-family: $rubik;
  color: $blue-main;
  border-bottom: 5px solid $blue-light;
  border-radius: 2px;
  margin-bottom: 20px;
  display: inline-block;
}
.base-title {
  @include base-title;
  color: $blue-main;
  margin-bottom: 17px;
  font-weight: 500;
}
.base-text {
  @include base-text-20;
  color: #000000;
  font-weight: 400;
}
.base-link {
  @include base-link;
  border-radius: 10px;
  color: #000000;
  &:hover {
	border: 1px solid $blue-main;
	color: #ffffff;
	background-color: $blue-main;
  }
}
.category-card-link {
  background-color: $blue-main;
  color: #ffffff;
  margin-top: size(23);
  align-self: center;
  &:hover {
	background-color: transparent;
	color: $blue-main;
  }
}
.base-output {
  h1 {
	@include base-title;
  }
  h2 {
	@include mid-title;
  }
  h3 {
	@include mid-title-24;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: 18px;
  }
  h4 {
	font-size: size(22);
	line-height: size(28);
  }
  h5 {
	font-size: size(20);
	line-height: size(26);
  }
  h6 {
	font-size: size(18);
	line-height: size(24);
  }
  p, li {
	@include base-text;
	color: #000000;
  }
  p {
	margin-bottom: 20px;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.post-output {
  img {
	min-width: 80%;
	height: auto;
  }
}
.slider-output {
  p {
	margin-bottom: 20px;
  }
}
.faq-output {
  p, li {
	@include base-text-20;
  }
}
.box-wrapper {
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
  &.no-box {
	border-radius: 10px 10px 0 0;
	box-shadow: unset;
  }
}
.mb-100 {
  margin-bottom: 100px;
}
.mt-mb {
  margin: 80px 0 62px 0;
}
.mid-title, .param-title {
  @include mid-title-24;
  color: $blue-main;
  font-weight: 700;
}
.post-prop-add {
  padding: 54px 0;
}


//Homepage
.home-main, .top-page {
  @include back-img;
}
.home-main {
  padding: 63px 0 51px 0;
}
.top-page {
  padding: 48px 0 40px 0;
  margin-bottom: 7px;
  background-image: url("../img/page-top.png");
}
.slider-prop-block {
  padding: 38px 0;
}
//Contact page
.contact-page-body {
  padding: 60px 0;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
  &:last-child {
	margin-bottom: 0;
  }
}
.contact-icon-wrap {
  @include d-center;
  border-radius: 5px;
  background-color: $blue-light;
  width: size(97);
  min-width: size(97);
  height: size(97);
  margin-left: 30px;
  padding: size(18);
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-type {
  @include mid-title;
  color: #000000;
  font-weight: 400;
  transition: color ease-out .5s;
  &:hover {
	color: $blue-light;
  }
}
.contact-type-title {
  @include mid-title-24;
  color: $blue-main;
  font-weight: 700;
  margin-bottom: 6px;
}

//post
.post-body-page {
  .top-page {
	height: 160px;
	background-image: url("../img/post-top.png");
  }
  .share-block .report-block {
	display: none;
  }
}
.sticky-form {
  position: sticky;
  top: 0;
}
//Share block
.share-block {
  padding: 40px 20px 49px 20px;
  background-color: #fbfbfb;
}
.report-block {
  @include d-center;
  font-weight: 500;
}
.socials-share {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.social-share-link {
  margin: 8px;
  width: size(55);
  height: size(55);
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $blue-main;
  }
}
.share-text {
  @include mid-title-24;
  text-align: center;
  font-weight: 400;
  margin-bottom: 17px;
}
//Property page
.check-col {
   margin-bottom: 47px;
}
.checkbox-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.checkbox-custom {
  @include d-center;
  width: size(29);
  min-width: size(29);
  height: size(29);
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-left: 11px;
  i {
	opacity: 0;
  }
  &.checked {
	i {
	  opacity: 1;
	  color: $blue-tick;
	}
  }
}
.check-label, .own-text {
  font-size: size(25);
  font-style: normal;
  letter-spacing: normal;
  line-height: size(39);
  font-weight: 400;
}
//Property page
.property-call {
  margin-bottom: 39px;
}
.property-call-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: size(56) 15% size(73) 15%;
}
.own-text {
  font-weight: 300;
  color: $blue-main;
  text-align: center;
}
.own-link-contact {
  @include d-center;
  padding: 3px 20px;
  height: size(48);
  color: #ffffff;
  @include mid-title-24;
  font-weight: 700;
  min-width: size(259);
  margin-bottom: 4px;
  background-color: $blue-light;
  border-radius: 5px;
  transition: transform ease-out .5s;
  .fab {
	color: #ffffff;
  }
  .fab, img {
	height: size(29);
	margin-left: size(20);
  }
  &:hover {
	color: #ffffff;
	transform: scale(0.95, 0.95);
  }
}
.link-whatsapp {
  background-color: #00bf22;
}
.prop-own-links {
  margin: 23px 0;
}
//Gallery property
.gallery-slide {
  position: relative;
  border-radius: 10px;
  @include back-img;
  @include d-center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 65.4%;
  }
}
//Custom search
#advanced-form {
  display: none;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 30px;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.19);
  position: absolute;
  top:100%;
  left:0;
  height: auto;
  right:0;
  z-index: 9999;
}
.property-search {
  position: relative;
  padding: 30px;
  margin-top: 50px;
}
.cats-top-over {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.cat-top-link {
  @include d-center;
  @include mid-title-24;
  padding: 10px;
  min-width: size(229);
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  background-color: $blue-main;
  color: #ffffff !important;
  margin-left: 10px;
  &:first-child {
	background-color: #7da7d9;
	color: #000000 !important;
  }
  &.add-property-btn {
	background-color: #000000;
	margin-right: 0 !important;
  }
}
.btn-primary {
  background-color: $blue-main;
  border-color: $blue-main;
}
.btn-advanced {
  margin-right: 10px;
  background-color: $blue-light;
  border-color: $blue-light;
  color: $blue-main;
}

@import "steps";
@import "responsive";
